<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="askquestion_question_listing_data_source" xsi:type="string">Ibiztech\Askquestion\Model\ResourceModel\Question\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ibiztech\Askquestion\Model\ResourceModel\Question\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ibiztech_askquestions</argument>
            <argument name="resourceModel" xsi:type="string">Ibiztech\Askquestion\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
</config>